/* Medias */
@media screen and (max-width: 767px) {
  .accordion {
    margin-inline: .2rem; }
  footer a {
    margin-block: .34rem; }
  footer img {
    margin: .4rem; } }

@media screen and (min-width: 768px) {
  .accordion {
    margin-inline: 4rem; }
  .rrss-icon {
    margin-block: .5rem; }
  .footer__bottom a {
    margin-inline: .8rem; } }

@media screen and (max-width: 991px) {
  #navbarNavDropdown {
    margin-bottom: .75rem;
    margin-top: .75rem; }
  .nav-link:hover {
    transition: 0; } }

@media screen and (min-width: 992px) {
  .nav-item {
    white-space: nowrap; } }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body, html {
  min-height: 100%;
  overflow-x: hidden; }

body {
  background-image: url(/img/background.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Mulish', sans-serif;
  overflow-y: hidden; }
  body main {
    color: white; }
  body a {
    text-decoration: none; }

/* Header */
header {
  background: black;
  font-weight: 900;
  text-transform: uppercase; }
  header .navbar-toggler {
    padding: 1rem; }
    header .navbar-toggler div {
      background-color: white;
      height: 3px;
      margin: 6px 0;
      width: 35px; }
  header nav {
    padding: 0 !important; }
    header nav li {
      margin: 0 .1rem 0 .1rem; }
      header nav li .nav-link {
        color: white !important;
        padding: 0.8rem 1rem 0.8rem 1rem !important; }
        header nav li .nav-link:hover {
          background-color: white;
          color: black !important;
          padding: .5rem 0 .5rem 0;
          transition: 0.35s; }

/* Fin header */
/* Footer */
footer {
  background-color: black;
  padding-bottom: 2.5rem; }
  footer a {
    color: white; }
    footer a:hover {
      color: #c8c8c8; }
  footer hr.solid {
    border-top: 2px solid lightgray; }
  footer .rrss-icon {
    width: 3rem; }

/* Fin footer */
/* Preguntas frecuentes */
.accordion {
  color: black;
  margin-block: 3rem; }
  .accordion .accordion-item {
    border-color: black !important; }
    .accordion .accordion-item .accordion-button {
      background-color: white; }
      .accordion .accordion-item .accordion-button:not(.collapsed) {
        background-color: lightgray;
        color: black; }
      .accordion .accordion-item .accordion-button:focus {
        border-color: none !important;
        box-shadow: none !important; }

/* Fin preguntas frecuentes */
/* Contacto */
form {
  max-width: 26rem;
  margin: 3rem auto; }
  form .formulario__opcion {
    color: black;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 5px;
    line-height: 22px;
    background-color: white;
    border: 1px solid black;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0; }
  form input {
    border: none; }
  form textarea {
    border: none;
    height: 9rem;
    line-height: 150%;
    resize: vertical; }
  form .btn {
    width: 100%;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center; }
    form .btn:hover {
      background-color: black;
      color: white; }

/* Fin contacto */
