* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body, html {
  min-height: 100%;
  overflow-x: hidden; }

body {
  background-image: url(/img/background.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Mulish', sans-serif;
  overflow-y: hidden; }
  body main {
    color: white; }
  body a {
    text-decoration: none; }

header {
  background: black;
  font-weight: 900;
  text-transform: uppercase; }
  header .navbar-toggler {
    padding: 1rem; }
    header .navbar-toggler div {
      background-color: white;
      height: 3px;
      margin: 6px 0;
      width: 35px; }
  header nav {
    padding: 0; }
    header nav li {
      margin: 0 .1rem 0 .1rem; }
      header nav li .nav-link {
        color: white !important;
        padding: 0.8rem 1rem 0.8rem 1rem !important; }
        header nav li .nav-link:hover {
          background-color: white;
          color: black !important;
          padding: .5rem 0 .5rem 0;
          transition: 0.35s; }

footer {
  background-color: black;
  padding-bottom: 2.5rem; }
  footer a {
    color: white; }
    footer a:hover {
      color: #c8c8c8; }
  footer hr.solid {
    border-top: 2px solid lightgray; }
  footer .rrss-icon {
    width: 3rem; }

.main__titulo, .main__parrafo, .main__servicios, .t {
  text-align: center; }

.main__titulo {
  font-size: 3rem;
  font-weight: 900; }

p {
  font-weight: 600; }

.t {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 750; }

.servicios__opcion {
  display: flex;
  justify-content: center;
  margin: .5rem; }

.servicios__opcion a {
  width: 100%;
  max-width: 768px;
  height: 4rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; }

.svcs-1 {
  background-image: url("/img/svcs1.jpg");
  background-position: center 9%;
  background-repeat: none;
  background-size: cover; }

.svcs-2 {
  background-image: url("/img/svcs2.jpg");
  background-position: center 33%;
  background-repeat: none;
  background-size: cover; }

.svcs-3 {
  background-image: url("/img/svcs3.jpg");
  background-position: center 13%;
  background-repeat: none;
  background-size: cover; }

.accordion, .accordion .accordion-item .accordion-button:not(.collapsed), .accordion .accordion-item .accordion-button:focus {
  color: black;
  box-shadow: none !important; }

.accordion {
  margin-block: 3rem; }
  .accordion .accordion-item {
    border-color: black !important; }
    .accordion .accordion-item .accordion-button {
      background-color: white; }
      .accordion .accordion-item .accordion-button:not(.collapsed) {
        background-color: lightgray; }
      .accordion .accordion-item .accordion-button:focus {
        border-color: none !important; }

form {
  max-width: 26rem;
  margin: 3rem auto; }
  form .formulario__opcion {
    color: black;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 5px;
    line-height: 22px;
    background-color: white;
    border: 1px solid black;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0; }
  form input {
    border: none; }
  form textarea {
    border: none;
    height: 9rem;
    line-height: 150%;
    resize: vertical; }
  form .btn {
    width: 100%;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center; }
    form .btn:hover {
      background-color: black;
      color: white; }

@media screen and (max-width: 767px) {
  .accordion {
    margin-inline: .2rem; }
  footer a {
    margin-block: .34rem; }
  footer img {
    margin: .4rem; } }

@media screen and (min-width: 768px) {
  .accordion {
    margin-inline: 4rem; }
  .rrss-icon {
    margin-block: .5rem; }
  .footer__bottom a {
    margin-inline: .8rem; }
  .contenedor-servicios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: .5rem; }
  .servicios__opcion {
    display: flex;
    width: 30%;
    margin-top: 1.25rem;
    min-width: min-content; }
  .servicios__opcion a {
    width: 100%;
    min-width: 20%;
    max-width: auto;
    height: 30rem;
    white-space: nowrap;
    margin: 1rem; }
  .servicios__opcion a p {
    color: white;
    background-color: black;
    opacity: 0.85;
    padding: .8rem;
    border-radius: .5rem;
    cursor: pointer; }
  .svcs-1 {
    background-position-x: 10%; }
  .svcs-2 {
    background-position-x: 0%; }
  .svcs-3 {
    background-position-x: 18%; } }

@media screen and (max-width: 991px) {
  #navbarNavDropdown {
    margin-bottom: .75rem;
    margin-top: .75rem; }
  .nav-link:hover {
    transition: 0; } }

@media screen and (min-width: 992px) {
  .nav-item {
    white-space: nowrap; } }
