body,html {
	min-height: 100%;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-image: url(/img/background-index.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	overflow-y:hidden;
	min-height: 100vh;
	font-family: 'Mulish', sans-serif;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

header{
	background: black;
	text-transform: uppercase;
	font-weight: 900;
}
@media screen and (max-width: 992px){
	#navbarNavDropdown{
		margin-bottom: .75rem;
		margin-top: .75rem;
	}
	.nav-link:hover{
		transition: 0;
	}
}
header nav{
	padding: 0!important;
}
header li{
	margin: 0 .1rem 0 .1rem;
}
a{
	text-decoration: none;
}
.nav-link:hover{
	padding: .5rem 0 .5rem 0;
	background-color: white;
	color: black!important;
	transition: 0.35s;
}
.navbar-toggler{
	padding: 1rem;
}
.navbar-toggler div{
	width: 35px;
	height: 3px;
	background-color: white;
	margin: 6px 0;
}
.nav-item{
	white-space:nowrap;
}
.nav-link{
	color: white!important;
	padding: .8rem 1rem .8rem 1rem!important;
}
