body,html {
	min-height: 100%;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-image: url(/img/background-index.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	overflow-y:hidden;
	min-height: 100vh;
	font-family: 'Mulish', sans-serif;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

header{
	background-color: black;
}
header a{
	text-decoration: none;
	color: white!important;
}
.navbar-toggler div{
	width: 35px;
	height: 3px;
	background-color: white;
	margin: 6px 0;
}
.nav-item{
	text-align: right;
}