* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

main {
	color: white;
}

.dropdown:hover .dropdown-menu {
	display: block;
	margin-top: 0;
}

header {
	background: black;
	font-weight: 900;
	text-transform: uppercase;
}

header li {
	margin: 0 .1rem 0 .1rem;
}

header nav {
	padding: 0!important;
}

.nav-link {
	color: white!important;
	padding: .8rem 1rem .8rem 1rem!important;
}

.nav-link:hover {
	background-color: white;
	color: black!important;
	padding: .5rem 0 .5rem 0;
	transition: 0.35s;
}

.navbar-toggler {
	padding: 1rem;
}

.navbar-toggler div {
	background-color: white;
	height: 3px;
	margin: 6px 0;
	width: 35px;
}

body {
	background-image: url(/img/background.jpg);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Mulish', sans-serif;
	overflow-y: hidden;
}

body,html {
	min-height: 100%;
	overflow-x: hidden;
}

footer {
	background-color: black;
	padding-bottom: 2.5rem;
}

footer a {
	color: white;
}

footer a:hover {
	color: rgba(200,200,200,1);
}

hr.solid {
	border-top: 2px solid lightgray;
}

.rrss-icon {
	width: 3rem;
}
@media screen and (max-width: 767px) {
	.accordion{
		margin-inline: 4rem;
	}
	footer a{
		margin-block: .34rem;
	}
	footer img{
		margin: .4rem;
	}
}
@media screen and (max-width: 992px) {
	#navbarNavDropdown {
		margin-bottom: .75rem;
		margin-top: .75rem;
	}
	.nav-link:hover {
		transition: 0;
	}
}
@media screen and (min-width: 768px) {
	.rrss-icon{
		margin-block: .5rem;
	}
	.footer__bottom a{
		margin-inline: .8rem;
	}
}
@media screen and (min-width: 992px) {
	.nav-item {
		white-space: nowrap;
	}
}
.accordion{
	color:black;
	margin-block: 3rem;
}
.accordion-button{
	background-color: white;
}
.accordion-button:not(.collapsed){
	background-color: lightgray;
	color:black;
}
