body,html {
	min-height: 100%;
	overflow-x: hidden;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: lightgray;
	overflow-y:hidden;
	min-height: 100vh;
	font-family: 'Mulish', sans-serif;
	display: flex;
	flex-direction: column;
}
header {
	grid-area: header;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-weight: 900;
	padding: 0 20px;
	background-color: black;
}
.header__logo {
	display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
	height: 100%;
	width: 100%;
}
.header__logo img{
	display: block;
}
header ul a {
	color: white;
    white-space:nowrap;
}
header ul li {
	padding: 5px;
}
header ul li:hover {
	transform: scale(1.1);
	transition: 0.3s;
}
#hamburger-icon {
	margin: auto 0;
	display: none;
	cursor: pointer;
}
  
#hamburger-icon div {
	width: 35px;
	height: 3px;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;
}
.open .mobile-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
}
  
.mobile-menu {
	display: none;
	position: absolute;
	top: 75px;
	left: 0;
	width: 100%;
	background-color: rgb(24, 24, 24);
}
  
.mobile-menu li {
	margin-bottom: 10px;
}
.main-nav {
	margin-right: .5rem;
	
}
.main-nav__primaria {
	display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-item {
	display: inline-block;
}
.nav-item a {
	cursor: pointer;
	color: white;
	display: block;
	padding: 1.2rem;
}
.nav-item a:hover{
	color:black;
	background-color: white;
}
a{
	text-decoration: none;
}
footer{
	grid-area: footer;
	margin-top: auto;
}
footer a{
	color: white;
	display: block;
}
.contenedor{
	flex: 1;
}
.footer--grid{
	display: grid;
	background: black;	
	grid-template-areas: 
	"f-top-1 "
	"f-top-2"
	"f-top-3" 
	"f-top-4" 
	"f-bot";
}
.footer__bot,.footer__col{
	justify-self: center;
	align-self: center;
}
.footer__col{
    font-size: 1.25rem;
}
.footer__col a{
	padding: 1.5rem;
	text-align: center;
}
.footer__top-1{
	grid-area: f-top-1;
}
.footer__top-2{
	grid-area: f-top-2;
}
.footer__top-3{
	grid-area: f-top-3;
}
.footer__top-4{
	grid-area: f-top-4;
}
.footer__top-4 a{
	display: inline;
	margin-block: .3rem;
	padding: .5rem!important;

}
.footer__top-4 img{
	width: 3rem;
}
.footer__bot{
	grid-area: f-bot;
	padding: 4rem 0rem 1rem 0rem;
    font-size: .875rem;
	display: flex;
}
.footer__bot a{
	margin-left: .5rem;
	margin-right: .5rem;
}
main{
	grid-area: main;
}
.index-main{
	margin-block: 1.2rem;
}
.main__titulo,.main__parrafo,.main__servicios{
	text-align: center;
}
.main__titulo{
	font-size: 3rem;
	font-weight: 900;
}
.main__parrafo{
	font-weight: 600;
}
.servicios__opcion{
	display: flex;
	justify-content: center;
	margin: .5rem;

}
.servicios__opcion a{
	width: 100%;
	max-width: 768px;
	height: 4rem;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: x-large;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}
.svcs-1{
	background-image: url("/img/svcs1.jpg");
	background-position: center 9%;
	background-repeat: none;
	background-size:cover;
}
.svcs-2{
	background-image: url("/img/svcs2.jpg");
	background-position: center 33%;

	background-repeat: none;
	background-size:cover;
}
.svcs-3{
	background-image: url("/img/svcs3.jpg");
	background-position: center 13%;
	background-repeat: none;
	background-size:cover;
}
@media only screen and (max-width: 768px) {

  }
  
@media only screen and (max-width: 1023px) {
	header nav {
	  display: none;
	}
  
	#hamburger-icon {
	  display: block;
	}
  }
  