$color-1: black;
$color-2: white;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,html {
	min-height: 100%;
	overflow-x: hidden;
}

body {
	background-image: url(/img/background.jpg);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Mulish', sans-serif;
	overflow-y: hidden;
    main {
        color: $color-2;
    }
    a {
        text-decoration: none;
    }
}

//Header
header {
background: $color-1;
font-weight: 900;
text-transform: uppercase;
    .navbar-toggler {
        padding: 1rem;
        div {
            background-color: $color-2;
            height: 3px;
            margin: 6px 0;
            width: 35px;
        }
    }
    nav {
    padding: 0;
        li {
        margin: 0 .1rem 0 .1rem;
            .nav-link {
                color: $color-2!important;
                padding: .8rem 1rem .8rem 1rem!important;
                &:hover {
                    background-color: $color-2;
                    color: $color-1!important;
                    padding: .5rem 0 .5rem 0;
                    transition: 0.35s;
                }
            }
        }
    }
}
//Fin header
//Footer
footer {
background-color: $color-1;
padding-bottom: 2.5rem;  
    a {
        color: $color-2;
        &:hover {
            color: rgba(200,200,200,1);
        }
    }

    hr.solid {
        border-top: 2px solid lightgray;
    }

    .rrss-icon {
        width: 3rem;
    }
}
//Fin footer
//Index
.main__titulo,.main__parrafo,.main__servicios,.t{
	text-align: center;
}
.main__titulo{
	font-size: 3rem;
	font-weight: 900;
}
p{
	font-weight: 600;
}
.t{
    padding-top: 1rem;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: 750;
}
.servicios__opcion{
	display: flex;
	justify-content: center;
	margin: .5rem;

}
.servicios__opcion a{
	width: 100%;
	max-width: 768px;
	height: 4rem;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: x-large;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}
.svcs-1{
	background-image: url("/img/svcs1.jpg");
	background-position: center 9%;
	background-repeat: none;
	background-size:cover;
}
.svcs-2{
	background-image: url("/img/svcs2.jpg");
	background-position: center 33%;

	background-repeat: none;
	background-size:cover;
}
.svcs-3{
	background-image: url("/img/svcs3.jpg");
	background-position: center 13%;
	background-repeat: none;
	background-size:cover;
}
//Fin index
//Preguntas frecuentes
%accordion{
    color:$color-1;
    box-shadow: none!important;
}
.accordion {
@extend %accordion;
margin-block: 3rem;
    .accordion-item{
        border-color: $color-1!important;
        .accordion-button {
            background-color: $color-2;
            &:not(.collapsed) {
                @extend %accordion;
                background-color: lightgray;
            }
            &:focus{
                @extend %accordion;
                border-color: none!important;
            }
        }
    }
}
// Fin preguntas frecuentes
//Contacto
form { 
	max-width:26rem; 
	margin:3rem auto; 
    .formulario__opcion {
        color:$color-1;
        font-weight:500;
        font-size: 1rem;
        border-radius: 5px;
        line-height: 22px;
        background-color: $color-2;
        border:1px solid $color-1;
        transition: all 0.3s;
        padding: 13px;
        margin-bottom: 15px;
        width:100%;
        box-sizing: border-box;
        outline:0;
    }
    input {
        border: none;
    }
    textarea {
        border: none;
        height: 9rem;
        line-height: 150%;
        resize:vertical;
    }  
    .btn {
        width: 100%;
        text-transform: uppercase;
        font-weight: 900;
        text-align: center;
        &:hover {
            background-color: $color-1;
            color: $color-2;
        }
    }
}
// Fin contacto
//Boost
form{
    background-color:white;
    border-color: black;
    color: black;
    border-radius: 7px;
    display: flex;
    align-items: center;
    align-content: center;
}
.boost {
	margin: auto;
	width: 30%;
}
.boost__legend {
	margin-bottom: 1.25rem;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
}
.boost label {
	display: block;
	font-weight: bold;
}
.boost label select {
	display: block;
}
.option {
	margin-bottom: .625rem;
	padding-right: .3125rem;
	width: 9.375rem;
}
.boost--inline {
	display: inline-block;
}
.boost__checkbox {
	display: inline;
	cursor: pointer;
}
//Final boost
//Cuentas
.cuentas {
	position: relative;
}
.cuentas__region {
	display: block;
	margin-left: 1.875rem;
}
.cuentas h2 {
	margin-bottom: 1.25rem;
	color: white;
	font-family: 'Poppins', sans-serif, 'arial';
	font-size: 1.5rem;
	font-weight: 600;
}
.cuentas__tipo {
	display: block;
	margin-left: 1.875rem;
}
.cuentas__tipo table {
	table-layout: fixed;
	border-collapse: separate;
}
.cuentas__tipo table tbody tr {
	margin: 6.25rem;
}
.cuentas__tipo table tbody td {
	padding-left: .3125rem;
}
.cuentas__tipo table img {
	margin: 0;
	padding: 0;
	width: 12.5rem;
	height: 9.375rem;
}
.cuentas__main {
	display: inline-block;
}
.cuentas__carrito {
	margin-left: 1.875rem;
	border: .3125rem solid black;
	color: white;
	font-family: 'Poppins', sans-serif, 'arial';
}
#cuentas__cantidad--min {
	width: 1.875rem;
}
.cuentas__carrito h3,
label,
p,
input {
	margin: .625rem;
}
// Medias
@import "utilities/medias";