$color-1: black;
$color-2: white;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,html {
	min-height: 100%;
	overflow-x: hidden;
}

body {
	background-image: url(/img/background.jpg);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Mulish', sans-serif;
	overflow-y: hidden;
    main {
        color: $color-2;
    }
    a {
        text-decoration: none;
    }
}

//Header
header {
background: $color-1;
font-weight: 900;
text-transform: uppercase;
    .navbar-toggler {
        padding: 1rem;
        div {
            background-color: $color-2;
            height: 3px;
            margin: 6px 0;
            width: 35px;
        }
    }
    nav {
    padding: 0;
        li {
        margin: 0 .1rem 0 .1rem;
            .nav-link {
                color: $color-2!important;
                padding: .8rem 1rem .8rem 1rem!important;
                &:hover {
                    background-color: $color-2;
                    color: $color-1!important;
                    padding: .5rem 0 .5rem 0;
                    transition: 0.35s;
                }
            }
        }
    }
}
//Fin header
//Footer
footer {
background-color: $color-1;
padding-bottom: 2.5rem;  
    a {
        color: $color-2;
        &:hover {
            color: rgba(200,200,200,1);
        }
    }

    hr.solid {
        border-top: 2px solid lightgray;
    }

    .rrss-icon {
        width: 3rem;
    }
}
//Fin footer
//Preguntas frecuentes
%accordion{
    color:$color-1;
    box-shadow: none!important;
}
.accordion {
@extend %accordion;
margin-block: 3rem;
    .accordion-item{
        border-color: $color-1!important;
        .accordion-button {
            background-color: $color-2;
            &:not(.collapsed) {
                @extend %accordion;
                background-color: lightgray;
            }
            &:focus{
                @extend %accordion;
                border-color: none!important;
            }
        }
    }
}
// Fin preguntas frecuentes
//Contacto
form { 
	max-width:26rem; 
	margin:3rem auto; 
    .formulario__opcion {
        color:$color-1;
        font-weight:500;
        font-size: 1rem;
        border-radius: 5px;
        line-height: 22px;
        background-color: $color-2;
        border:1px solid $color-1;
        transition: all 0.3s;
        padding: 13px;
        margin-bottom: 15px;
        width:100%;
        box-sizing: border-box;
        outline:0;
    }
    input {
        border: none;
    }
    textarea {
        border: none;
        height: 9rem;
        line-height: 150%;
        resize:vertical;
    }  
    .btn {
        width: 100%;
        text-transform: uppercase;
        font-weight: 900;
        text-align: center;
        &:hover {
            background-color: $color-1;
            color: $color-2;
        }
    }
}
// Fin contacto
// Medias
@import "utilities/medias";